<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=Bubblegum+Sans&family=Carter+One&family=Ceviche+One&family=Concert+One&family=Fredoka+One&family=Kalam:wght@700&family=Kaushan+Script&family=Mochiy+Pop+One&family=Oleo+Script&family=Rancho&family=Shrikhand&family=Titan+One&family=Varela+Round&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css">
    <title>School</title>

</head>

<body>
    <!-- ************************** HEADER SECTION *****************************  -->
    <section class="start">
        <div class="boxx">
            <i class="fas fa-phone-alt"></i>
            Phone644647
        </div>
        <div class="boxx">
            <i class="fas fa-envelope"></i>
            email@gmail.com
        </div>
    </section>


    <!-- ***************************** SCHOOL SECTION *************************** -->
    <section class="school">
        <div class="logo">
            <img src="static/img/logo1.png" alt="">
        </div>
        <div class="name">SCHOOL NAME</div>
    </section>

    <!-- ************************ NAV SECTION *********************************** -->
    <nav>
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#facilities">Facilities</a>
        <a href="#admission">Admission</a>
        <a href="#contact">Contact</a>
        <div class="animation start-home"></div>
    </nav>


    <!-- *********************** HOME SECTION *********************************** -->
    <section id="home">
        <div id="banner">
            <img src="static/img/banner.png" alt="">
        </div>
    </section>

    <div class="custom-shape-divider-bottom-1641827160">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div>

    <!-- ************************ ABOUT US SECTION ****************************** -->

    <section id="about">
        <div class="top">
            <h1>ABOUT US</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nesciunt praesentium culpa est deserunt
                fugiat nihil libero sint asperiores fugit explicabo dicta distinctio, dolorem incidunt doloremque.
                Excepturi hic perspiciatis velit?</p>
        </div>
        <div class="container1">
            <div class="content">
                <h3>Mission</h3>
                <div class="blank"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore corrupti quas asperiores. Tempora
                    repellat veniam corrupti, accusantium incidunt, blanditiis dignissimos assumenda deleniti
                    consectetur eveniet, architecto error? Ad, officia. Itaque, consequuntur.</p>
                <br>
                <h3>Vision</h3>
                <div class="blank"></div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus labore dicta tempora hic
                    quisquam fugiat, maxime, fugit porro sit facere vero earum rem aut ducimus cumque quasi recusandae
                    odit excepturi.</p>
            </div>
            <div class="image">
                <img src="static/img/business-3d-325.png" alt="">
            </div>
        </div>
    </section>

    <div class="custom-shape-divider-top-1641828478">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>



    <!-- *********************** FACILITIES SECTION ***************************** -->
    <section id="facilities">
        <div class="topf">
            <h1>Facilities</h1>
            <p>WHY choose Us Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate labore delectus
                corrupti fugiat, asperiores repellendus sequi magni dolores. Vero deserunt sunt, deleniti consequuntur
                fuga ducimus at veniam perspiciatis doloribus corporis.</p>
        </div>
        <div class="ch">
            <div class="box">
                <div class="icon">
                    <i class="fas fa-school"></i>
                </div>
                <h2>Campus</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia magni a labore numquam
                    quod quo fuga atque explicabo inventore facilis quos distinctio nobis libero, maiores sit amet nemo
                    consequuntur sed?</p>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-flask"></i>
                </div>
                <h2>Lab Facilities</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quis veniam
                    reprehenderit velit impedit a quibusdam soluta obcaecati doloremque, nostrum nisi tempora quas qui
                    architecto laborum repellendus non omnis? Eveniet.</p>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-music"></i>
                </div>
                <h2>Extra Curricular</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consequatur
                    quis vel. Qui reprehenderit quod molestias libero nostrum, necessitatibus adipisci iure, suscipit
                    ratione sed magni at quia nemo odit provident?</p>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-running"></i>
                </div>
                <h2>Sports</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla architecto doloribus quidem
                    voluptate, assumenda eaque ut delectus maxime nesciunt alias nam aliquid molestiae omnis, animi eum,
                    nihil corrupti eligendi? Quos..</p>
            </div>
        </div>

    </section>
    <div class="custom-shape-divider-top-1641830745">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>





    <!-- ************************* ADMISSION SECTION **************************** -->
    <section id="admission">
        <div class="topa">
            <h1>ADMISSION</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi unde animi magni! Esse omnis natus,
                alias numquam iste vero neque porro aperiam? Nam odio, maiores quae totam cupiditate ab dolore.</p>
        </div>

        <form id="survey-form">
            <div class="form-group">
                <label id="name-label" for="name"> STUDENT'S NAME</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter the name" required />
            </div>
            <div class="form-group">
                <label id="name-label" for="email"> EMAIL</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter the Email"
                    required />
            </div>
            <div class="form-group">
                <label id="number-label" for="name"> AGE</label>
                <input type="number" name="age" id="number" min="3" max="18" class="form-control"
                    placeholder="Enter Student's Age" required />
            </div>
            <div class="form-group">
                <label id="name-label" for="name">FATHER NAME</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter the name" required />
            </div>
            <div class="form-group">
                <label id="name-label" for="name">FATHER PHONE NUMBER</label>
                <input type="tel" name="name" id="name" class="form-control" placeholder="Enter the Phone no."
                    required />
            </div>

            <div class="form-group">
                <label id="name-label" for="name">MOTHER NAME</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter the name" required />
            </div>
            <div class="form-group">
                <P>ADMISSON FOR CLASS
                <P>
                    <select id="dropdown" name="role" class="form-control" required>
                        <option disabled selected value>Select the Class</option>
                        <option value="12">12th</option>
                        <option value="11">11th</option>
                        <option value="10">10th</option>
                        <option value="9">9th</option>
                        <option value="8">8th</option>
                        <option value="7">7th</option>
                        <option value="6">6th</option>
                        <option value="5">5th</option>
                        <option value="4">4th</option>
                        <option value="3">3rd</option>
                        <option value="2">2nd</option>
                        <option value="1">1st</option>
                        <option value="Other">Other</option>
                    </select>

            </div>
            <div class="form-group">
                <p>GENDER</p>
                <label>
                    <input name="gender" value="definitly" type="radio" class="input-radio" checked />MALE</label>
                <label>
                    <input name="gender" value="maybe" type="radio" class="input-radio" />FEMALE</label>
            </div>
            <div class="form-group">
                <p>HOME ADDRESS</p>
                <textarea id="comments" class="input-textarea" name="comment"
                    placesholder="Enter your comment here....."></textarea>
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="submit-button">Submit</button>
            </div>

            </div>

        </form>

    </section>




    <!-- ************************* CONTACT US *********************************** -->
    <section id="contact">

        <div class="background">
            <div class="container">
                <div class="screen">
                    <div class="screen-header">
                        <div class="screen-header-left">
                            <div class="screen-header-button close"></div>
                            <div class="screen-header-button maximize"></div>
                            <div class="screen-header-button minimize"></div>
                        </div>
                        <div class="screen-header-right">
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                        </div>
                    </div>
                    <div class="screen-body">
                        <div class="screen-body-item left">
                            <div class="app-title">
                                <span>CONTACT</span>
                                <span>US</span>
                            </div>
                            <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div>
                        </div>
                        <div class="screen-body-item">
                            <form action="index.html" method="post">
                                <div class="app-form">
                                    <div class="app-form-group">
                                        <input class="app-form-control" placeholder="NAME">
                                    </div>
                                    <div class="app-form-group">
                                        <input class="app-form-control" placeholder="EMAIL">
                                    </div>
                                    <div class="app-form-group">
                                        <input class="app-form-control" placeholder="CONTACT NO">
                                    </div>
                                    <div class="app-form-group message">
                                        <input class="app-form-control" placeholder="MESSAGE">
                                    </div>
                                    <div class="app-form-group buttons">
                                        <button class="app-form-button">CANCEL</button>
                                        <button type="submit" class="app-form-button">SEND</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>

    <footer>
        <br> copyright@web <br>
    </footer>





</body>
<script src="https://kit.fontawesome.com/5837c6b3d9.js" crossorigin="anonymous"></script>

</html>